Repository sbkwind/json2code: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --loglevel silent

.lintstagedrc:

{
  "*.{js,cjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write --loglevel silent"
  ],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --write--parser json  --loglevel silent"
  ],
  "package.json": ["prettier --write  --loglevel silent"]
}

feat: 关闭lint-staged输出
  .husky/pre-commit
Due: none

feat: config命令及子命令开发
  .eslintrc.cjs
  bin/cli.js
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  src/commands/config/delete.js
  src/commands/config/get.js
  src/commands/config/index.js
  src/commands/config/restore.js
  src/commands/config/set.js
  src/configStore/default.js
  src/configStore/index.js
  src/index.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 模板渲染开发
  package.json
  pnpm-lock.yaml
  src/commands/create/index.js
  src/commands/create/tempPath.js
  src/commands/create/test.js
  src/configStore/store.json
  src/index.js
  src/templates/common/defaultProps.njk
  src/templates/common/importComponents.njk
  src/templates/common/importLibs.njk
  src/templates/common/propTypes.njk
  src/templates/react-native/class.njk
  src/templates/react-native/function.njk
  src/templates/react-native/view.njk
Due: eslint --fix, prettier --write --loglevel silent

feat: 优化config命令
  package.json
  pnpm-lock.yaml
  src/commands/config/delete.js
  src/commands/config/get.js
  src/commands/config/index.js
  src/commands/config/reset.js
  src/commands/config/restore.js
  src/commands/config/set.js
  src/commands/create/tempPath.js
  src/commands/index.js
  src/configStore/default.js
  src/configStore/index.js
  src/configStore/store.json
  src/index.js
  src/utils.js
Due: eslint --fix, prettier --write --loglevel silent

fix: defaultProp模板bug修复
  src/templates/common/defaultProps.njk
Due: none

feat: 代码生成开发
  src/commands/create/index.js
  src/commands/create/test.js
  src/commands/index.js
  src/configStore/index.js
  src/core/buildData.js
  src/core/generateCode.js
  src/core/index.js
  src/templates/index.js
  src/templates/macros/defaultProps.njk
  src/templates/macros/importComponents.njk
  src/templates/macros/importLibs.njk
  src/templates/macros/propTypes.njk
  src/templates/react-native/class.njk
  src/templates/react-native/function.njk
  src/templates/react-native/view.njk
Due: eslint --fix, prettier --write --loglevel silent

feat: 完成create命令
  src/commands/create/index.js
  src/contants.js
  src/core/index.js
  src/generator/buildData.js
  src/generator/generateCode.js
  src/generator/index.js
  src/templates/index.js
  src/templates/react-native/componentIndex.njk
  test/j2c.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 修改bin
  bin/cli.js
  package.json
  src/index.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 规范路径输出
  src/generator/index.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 校验用户输入数据
  package.json
  pnpm-lock.yaml
  src/commands/create/index.js
  src/configStore/index.js
  src/utils/index.js
  src/utils/logger.js
  src/utils/validateJSON.js
  test/j2c.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 优化json校验错误提示
  src/commands/create/index.js
  src/utils/validateJSON.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 优化命令提示
  package.json
  src/commands/index.js
  src/index.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 完善readme
  README.md
  bodyjs.png
  componentsindex.png
  index.js
  indexjs.png
  structure.png
  test/j2c.js
Due: eslint --fix, prettier --write --loglevel silent

feat: 完善package.json信息
  package.json
Due: prettier --write --loglevel silent

feat: 修改包名
  README.md
  package.json
Due: prettier --write --loglevel silent
